
$color-white: #FFFFFF;
$color-blue: #5474fd;
$color-placeholder: #999999;
$color-bg-icons: #333333;
$color-bg-text: rgba(35, 35, 35, .9);

$button-bg: linear-gradient(45deg, #496bfe 0%, #496bfe 42%,  #5474fd 42%, #5474fd 100%);

$size-small:14px;
$size-medium:16px;
$size-big:20px;
$size-logo:24px;